/* colors */
.cold {
    fill: var(--hero-cold);
}

.warm {
    fill: var(--hero-warm);
}

.hot {
    fill: var(--hero-hot);
}


.branch {
    position: absolute;
    transform-origin: center;
    filter: blur(20px);
    z-index: -1;
}

.branchLeft {
    top: 0;
    left: -10vmax;
}

.branchRight {
    top: 0;
    right: -10vmax;
}

/* light styles */

.windLight {
    animation: branchSway 6s infinite ease-in-out;
}

.leaf1windLight {
    animation: sway1 4s infinite ease-in-out;
    transform-origin: center;
}

.leaf2windLight {
    animation: sway2 4s infinite ease-in-out;
    transform-origin: center;
}

.leaf3windLight {
    animation: sway3 4s infinite ease-in-out;
    transform-origin: center;
}

.leaf4windLight {
    animation: sway4 4s infinite ease-in-out;
    transform-origin: center;
}

.leaf5windLight {
    animation: sway5 4s infinite ease-in-out;
    transform-origin: center;
}


/* strong styles */

.windStrong {
    animation: strongBranchSway 3s infinite ease-in-out;
    transform-origin: center;
}

.leaf1windStrong {
    animation: strongSway1 2s infinite ease-in-out;
    transform-origin: center;
}

.leaf2windStrong {
    animation: strongSway2 2s infinite ease-in-out;
    transform-origin: center;
}

.leaf3windStrong {
    animation: strongSway3 2s infinite ease-in-out;
    transform-origin: center;
}

.leaf4windStrong {
    animation: strongSway4 2s infinite ease-in-out;
    transform-origin: center;
}

.leaf5windStrong {
    animation: strongSway5 2s infinite ease-in-out;
    transform-origin: center;
}

/* strong keys  */

@keyframes strongBranchSway {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(-1deg);
    }

    75% {
        transform: rotate(1deg);
    }
}

@keyframes strongSway1 {

    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(2deg);
    }

    40% {
        transform: rotate(-3deg);
    }

    60% {
        transform: rotate(3deg);
    }

    80% {
        transform: rotate(-2deg);
    }
}

@keyframes strongSway2 {

    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(3deg);
    }

    40% {
        transform: rotate(-2deg);
    }

    60% {
        transform: rotate(2.5deg);
    }

    80% {
        transform: rotate(-3deg);
    }
}

@keyframes strongSway3 {

    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(2.5deg);
    }

    40% {
        transform: rotate(-3.5deg);
    }

    60% {
        transform: rotate(2deg);
    }

    80% {
        transform: rotate(-2.5deg);
    }
}

@keyframes strongSway4 {

    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(1.5deg);
    }

    40% {
        transform: rotate(-3deg);
    }

    60% {
        transform: rotate(3.3deg);
    }

    80% {
        transform: rotate(-1.5deg);
    }
}

@keyframes strongSway5 {

    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(3.3deg);
    }

    40% {
        transform: rotate(-2.2deg);
    }

    60% {
        transform: rotate(3.5deg);
    }

    80% {
        transform: rotate(-3.3deg);
    }
}


/* light keys */

@keyframes branchSway {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(0.5deg);
    }

    50% {
        transform: rotate(-0.5deg);
    }

    75% {
        transform: rotate(0.5deg);
    }
}

@keyframes sway1 {

    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(1deg);
    }

    40% {
        transform: rotate(-1.5deg);
    }

    60% {
        transform: rotate(1.5deg);
    }

    80% {
        transform: rotate(-1deg);
    }
}

@keyframes sway2 {

    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(1.5deg);
    }

    40% {
        transform: rotate(-1deg);
    }

    60% {
        transform: rotate(1.2deg);
    }

    80% {
        transform: rotate(-1.5deg);
    }
}

@keyframes sway3 {

    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(1.2deg);
    }

    40% {
        transform: rotate(-1.8deg);
    }

    60% {
        transform: rotate(1deg);
    }

    80% {
        transform: rotate(-1.2deg);
    }
}

@keyframes sway4 {

    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(0.8deg);
    }

    40% {
        transform: rotate(-1.5deg);
    }

    60% {
        transform: rotate(1.3deg);
    }

    80% {
        transform: rotate(-1deg);
    }
}

@keyframes sway5 {

    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(1.3deg);
    }

    40% {
        transform: rotate(-1.2deg);
    }

    60% {
        transform: rotate(1.5deg);
    }

    80% {
        transform: rotate(-1.3deg);
    }
}