:root {
  --hero-cold: #CCE6FF;
  --hero-warm: #FFEECC;
  --hero-hot: #FFCCCC;
  --gradient-cold: linear-gradient(180deg, #CCE6FF 0%, rgba(204, 230, 255, 0.991353) 6.67%, rgba(206, 230, 255, 0.96449) 13.33%, rgba(208, 232, 255, 0.91834) 20%, rgba(212, 233, 255, 0.852589) 26.67%, rgba(216, 235, 255, 0.768225) 33.33%, rgba(221, 238, 255, 0.668116) 40%, rgba(227, 241, 255, 0.557309) 46.67%, rgba(232, 244, 255, 0.442691) 53.33%, rgba(238, 247, 255, 0.331884) 60%, rgba(243, 249, 255, 0.231775) 66.67%, rgba(247, 251, 255, 0.147411) 73.33%, rgba(251, 253, 255, 0.0816599) 80%, rgba(253, 254, 255, 0.03551) 86.67%, rgba(255, 255, 255, 0.0086472) 93.33%, rgba(255, 255, 255, 0) 100%);
  --gradient-warm: linear-gradient(180deg, #FFEECC 0%, rgba(255, 238, 204, 0.991353) 6.67%, rgba(255, 239, 206, 0.96449) 13.33%, rgba(255, 239, 208, 0.91834) 20%, rgba(255, 241, 212, 0.852589) 26.67%, rgba(255, 242, 216, 0.768225) 33.33%, rgba(255, 244, 221, 0.668116) 40%, rgba(255, 246, 227, 0.557309) 46.67%, rgba(255, 247, 232, 0.442691) 53.33%, rgba(255, 249, 238, 0.331884) 60%, rgba(255, 251, 243, 0.231775) 66.67%, rgba(255, 252, 247, 0.147411) 73.33%, rgba(255, 254, 251, 0.0816599) 80%, rgba(255, 254, 253, 0.03551) 86.67%, rgba(255, 255, 255, 0.0086472) 93.33%, rgba(255, 255, 255, 0) 100%);
  --gradient-hot: linear-gradient(180deg, #FFCCCC 0%, rgba(255, 204, 204, 0.991353) 6.67%, rgba(255, 206, 206, 0.96449) 13.33%, rgba(255, 208, 208, 0.91834) 20%, rgba(255, 212, 212, 0.852589) 26.67%, rgba(255, 216, 216, 0.768225) 33.33%, rgba(255, 221, 221, 0.668116) 40%, rgba(255, 227, 227, 0.557309) 46.67%, rgba(255, 232, 232, 0.442691) 53.33%, rgba(255, 238, 238, 0.331884) 60%, rgba(255, 243, 243, 0.231775) 66.67%, rgba(255, 247, 247, 0.147411) 73.33%, rgba(255, 251, 251, 0.0816599) 80%, rgba(255, 253, 253, 0.03551) 86.67%, rgba(255, 255, 255, 0.0086472) 93.33%, rgba(255, 255, 255, 0) 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --hero-cold: #152F4A;
    --hero-warm: #483717;
    --hero-hot: #552222;
    --gradient-cold: linear-gradient(180deg, #152F4A 0%, rgba(21, 47, 74, 0.991353) 6.67%, rgba(21, 46, 72, 0.96449) 13.33%, rgba(22, 45, 70, 0.91834) 20%, rgba(22, 44, 67, 0.852589) 26.67%, rgba(23, 42, 64, 0.768225) 33.33%, rgba(24, 40, 59, 0.668116) 40%, rgba(25, 38, 54, 0.557309) 46.67%, rgba(26, 36, 49, 0.442691) 53.33%, rgba(27, 33, 44, 0.331884) 60%, rgba(27, 31, 40, 0.231775) 66.67%, rgba(28, 30, 36, 0.147411) 73.33%, rgba(29, 28, 33, 0.0816599) 80%, rgba(29, 27, 31, 0.03551) 86.67%, rgba(29, 27, 30, 0.0086472) 93.33%, rgba(29, 27, 29, 0) 100%);
    --gradient-warm: linear-gradient(180deg, #483717 0%, rgba(72, 55, 23, 0.991353) 6.67%, rgba(70, 54, 23, 0.96449) 13.33%, rgba(68, 53, 23, 0.91834) 20%, rgba(66, 51, 24, 0.852589) 26.67%, rgba(62, 49, 24, 0.768225) 33.33%, rgba(58, 46, 25, 0.668116) 40%, rgba(53, 43, 26, 0.557309) 46.67%, rgba(48, 39, 26, 0.442691) 53.33%, rgba(43, 36, 27, 0.331884) 60%, rgba(39, 33, 28, 0.231775) 66.67%, rgba(35, 31, 28, 0.147411) 73.33%, rgba(33, 29, 29, 0.0816599) 80%, rgba(31, 28, 29, 0.03551) 86.67%, rgba(29, 27, 29, 0.0086472) 93.33%, rgba(29, 27, 29, 0) 100%);
    --gradient-hot: linear-gradient(180deg, #552222 0%, rgba(85, 34, 34, 0.991353) 6.67%, rgba(83, 34, 34, 0.96449) 13.33%, rgba(80, 33, 34, 0.91834) 20%, rgba(77, 33, 33, 0.852589) 26.67%, rgba(72, 32, 33, 0.768225) 33.33%, rgba(66, 32, 32, 0.668116) 40%, rgba(60, 31, 32, 0.557309) 46.67%, rgba(54, 30, 31, 0.442691) 53.33%, rgba(48, 29, 31, 0.331884) 60%, rgba(42, 29, 30, 0.231775) 66.67%, rgba(37, 28, 30, 0.147411) 73.33%, rgba(34, 28, 29, 0.0816599) 80%, rgba(31, 27, 29, 0.03551) 86.67%, rgba(29, 27, 29, 0.0086472) 93.33%, rgba(29, 27, 29, 0) 100%);
  }
}

.main {
  position: relative;
  overflow-x: hidden;
}

.weather,
.today-tomorrow,
.now,
.day,
.other {
  display: flex;
  flex-direction: column;
}

.weather {
  padding-top: 3vmax;
  gap: 6vmax;
}

.weather h1, 
.weather h2, 
.weather h3, 
.weather p {
  text-wrap: balance;
}

.weather h1 {
  font-size: 7vmax;
}

.weather h2 {
  font-size: 5vmax;
}

.weather h3 {
  font-size: 3.5vmax;
}

.weather p {
  font-size: 3vmax;
}

.now {
  gap: 1.5vmax;
}

.today-tomorrow {
  gap: 3vmax;
}

.day {
  gap: 1vmax;
}

.other {
  gap: 0.5vmax;
}

.cold {
  background: var(--gradient-cold);
}

.warm {
  background: var(--gradient-warm);
}

.hot {
  background: var(--gradient-hot);
}

.hero {
  position: absolute;
  top: -15vmax;
  left: -25vmax;
  z-index: -1;
  font-size: 70vmax;
  transform: rotate(-10deg);
  text-align: center;
  width: 100%;
}

.hero-cold {
  color: var(--hero-cold);
}

.hero-warm {
  color: var(--hero-warm);
}

.hero-hot {
  color: var(--hero-hot);
}

@media screen and (max-width: 640px) {
  .hero {
    top: 10vmax;
    left: -20vmax;
    font-size: 40vmax;
  }

  .weather h1,
  .weather h2 {
    word-break: break-word;
  }

  .weather h1 {
    font-size: 5.5vmax;
  }

  .weather h2 {
    font-size: 4.5vmax;
  }

  .weather h3 {
    font-size: 3vmax;
  }

  .weather p {
    font-size: 2.5vmax;
  }
}
