@import "./index.css";

.App {
  height: 100vh;
  overflow-y: auto;
}

.Main__wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  margin: 6vmax 4vmax 6vmax 4vmax;
}

.App__avatar {
  display: flex;
  position: relative;
  border-radius: 100%;
  width: 4.5vmax;
  overflow:hidden;
  flex-shrink: 0;
}

.App__avatar::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--color-picture-over);
}

.App__header {
  display: flex;
  flex: 1 0;
  margin-bottom: 4vmax;
}

.App__logo {
  display: flex;
  align-items: center;
}

.App__avatar {
  margin-right: 1vmax;
}

.App__avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.App__description {
  display: flex;
  flex-direction: column;
  margin-bottom: 8vmax;
  max-width: 90%;
}

.App__plugins {
  display: flex;
  flex-direction: column;
}

.App__plugins-title {
  margin-bottom: 2.5vmax;
}

.App__links {
  margin-bottom: 2vmax;
}

.App__link {
  margin-bottom: 1.5vmax;
}